<div class="footer">
  <div class="container">
    <div class="social_media">
      <h1>Social Media</h1>
      <div class="social_media_outlets">
        <%= image_tag "svg/facebook_logo_icon.svg", alt: "Facebook", id: "facebook"%>
        <%= image_tag "svg/instagram_logo_icon.svg", alt: "Instagram", id: "instagram"%>
        <%= image_tag "svg/twitter_logo_icon.svg", alt: "Twitter", id: "twitter"%>
        <%= image_tag "svg/linkedin_logo_icon.svg", alt: "Linked-In", id: "linked-in"%>
        <%= image_tag "svg/youtube_logo_icon.svg", alt: "Youtube", id: "youtube"%>
        <%= image_tag "svg/yelp_logo_icon.svg", alt: "Yelp", id: "yelp"%>
      </div>
    </div>
  </div>
</div>
