<div class="header fixed-top">
  <nav class="navbar" style="background-color: rgb(30,23,96); padding: 0px;">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <%= image_tag "TruTouch_logo.jpeg", alt: "TruTouch Logo", id: "logo", style: "hieght: 120px; width: 120px"%>
      </a>
    </div>
    <%= render "partials/sessions" %>
  </nav>
  <nav class="nav nav-pills nav-justified" id="nav_links" style="background-color: white;">
    <%= link_to "Home", root_path, { class: "nav-item nav-link" } %>
    <%= link_to "Our Services", our_services_path, { class: "nav-item nav-link" } %>
    <%= link_to "Products Used", products_used_path, { class: "nav-item nav-link" } %>
    <%= link_to "Portfolio", portfolio_path, { class: "nav-item nav-link" } %>
    <%= link_to "Appointment", appointment_path, { class: "nav-item nav-link" } %>
    <%= link_to "Contact Us", contact_us_path, { class: "nav-item nav-link" } %>
  </nav>
</div>
