<% if current_user? %>
  <% if current_page?(profile_path(current_user)) %>
    <div class="">
      <%= link_to "Sign Out", sign_out_path, method: :delete %>
    </div>
  <% else %>
    <div class="">
      <%= link_to "Profile", profile_path(current_user) %> |
      <%= link_to "Sign Out", sign_out_path, method: :delete %>
    </div>
  <% end %>
<% elsif current_page?(sign_in_path) || current_page?(sign_up_path) %>
<% else %>
  <div class="si_su">
    <%= link_to "Sign In", sign_in_path %> |
    <%= link_to "Sign Up", sign_up_path %>
  </div>
<% end %>
<%= javascript_pack_tag "sessions" %>
