<%= form_with(model: user, :url => profile_index_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :confirm_password %>
    <%= form.text_field :confirm_password %>
  </div>

  <div class="field">
    <%= form.label :prefered_method_of_contact %>
    <ul>
      <li>
        <%= check_box_tag :email, "email", true, :name=> "user[prefered_method_of_contact]", onclick: "uncheckOtherPreferedMethodOfContact(this)" %> Email
      </li>
      <li>
        <%= check_box_tag :text, "text", false, :name=> "user[prefered_method_of_contact]", onclick: "uncheckOtherPreferedMethodOfContact(this)" %> Text
      </li>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script language="javascript" type="text/javascript">
function uncheckOtherPreferedMethodOfContact(obj)
        {
            if (obj.checked == true && obj.id == "text") {
              document.getElementById("email").checked = false;
            }
            else {
              document.getElementById("text").checked = false;
            }
        }
</script>
