<%= form_with(model: user, :url => profile_index_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "new_form_fields", form: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script language="javascript" type="text/javascript">
function uncheckOtherPreferedMethodOfContact(obj)
        {
            if (obj.checked == true && obj.id == "text") {
              document.getElementById("email").checked = false;
            }
            else {
              document.getElementById("text").checked = false;
            }
        }
</script>
