<div id="<%= dom_id user %>" class="scaffold_record">
  <h2>
    <strong>
      <%= user.first_name %> <%= user.last_name %>
    </strong>
  </h2>

  <p>
    <strong>Phone number:</strong>
    <%= user.formatted_phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Perfered method of contact:</strong>
    <%= user.prefered_method_of_contact %>
  </p>
</div>
