<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6">
      <%= render @user %>
      <%= render 'my_addresses'%>
      <div class="btn-group" role="group" >
        <div class="">
          <%=
          button_to "Add Address",
          new_profile_address_path(@user),
          method: :get,
          class: "btn btn-primary"
          %>
        </div>
        <div class="">
          <%=
          button_to "Edit Profile",
          edit_profile_path(@user),
          method: :get,
          class: "btn btn-primary"
          %>
        </div>
        <div class="">
          <%=
          button_to "Delete Profile",
          profile_path(@user),
          method: :delete,
          class: "btn btn-danger"
          %>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-6">
      <%= render "my_vehicles" %>
      <div class="btn-group" role="group" >
        <div class="">
          <%if @user.my_vehicles.length > 0%>
          <%=
          button_to "My Vehicles",
          profile_my_vehicles_path(@user),
          method: :get,
          class: "btn btn-primary"
          %>
          <% end %>
        </div>
        <div class="">
          <%=
          button_to "Add New Vehicle",
          profile_add_my_vehicle_path(@user),
          method: :get,
          class: "btn btn-success",
          disabled: @user.my_vehicles.size >= 10
          %>
        </div>
      </div>
    </div>
  </div>
</div>
