<%= form_with(model: address, url: profile_addresses_path) do |form| %>
  <%= render "form_style_select" %>
  <%= render "single_line_field", form: form %>
  <%= render "structured_fields", form: form %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_pack_tag "address_form_select" %>
