<div id="detail_services" class="tabcontent">
  <div id="detail_service_header" class="service_header">
    <h1>Detail Services</h1>
    <p>
      Detail services below have a base price with potential increases related to vehicles sizes and additional services. If during a detail or time of inspection a hazardous waste is found a fee will be added. Customers will be contacted before any additional work is completed. Please check for additional information below. All detail services take a minimum of 3-hrs and we will contact you once the service is complete. We offer vehicle pick up / drop off for FREE, or you can drop off and pick up.
    </p>
    <h4>Additional Charges</h4>
    <ul>
      <li>Compact/Lg. Sedans $0</li>
      <li>SUV $40.00</li>
      <li>Mini-vans/Lg. SUV/Trucks $60.00</li>
      <li>Optional Odor Bomb $<%= @detail_service.select_detail("Odor Bomb").base_price.to_s %> added to a Details Service</li>
      <li>Optional Steam Cleaning $<%= @detail_service.select_detail("Steam Cleaning").base_price.to_s %> added to a Details Service</li>
      <li>Optional Minor Paint Correction $60 added to a Details Service</li>
    </ul>
  </div>
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item detail_tablink">
      <a href="#main_detail_services" class="">Main Detail Services</a>
    </li>
    <li class="nav-item detail_tablink">
      <a href="#deluxe_detail_services" class="">Deluxe Detail Services</a>
    </li>
    <li class="nav-item detail_tablink">
      <a href="#additional_detail_services" class="">Additional Detail Services</a>
    </li>
  </ul>
  <div id="main_detail_services" class="detail_tabcontent">
    <h1>Main Detail Services</h1>
    <% @main_detail_services.each do |service| %>
    <section id="service-<%= service.id %>">
      <h2><%= service.name %></h2>
      <ul>
        <li>Base Price: $<%= service.base_price.to_s %></li>
        <li>
          <p>
            <%= service.description %>
          </p>
        </li>
      </ul>
    </section>
    <% end %>
  </div>
  <div id="deluxe_detail_services" class="detail_tabcontent">
    <h1>Deluxe Detail Services</h1>
    <% @deluxe_detail_services.each do |service| %>
    <section id="service-<%= service.id %>">
      <h2><%= service.name %></h2>
      <ul>
        <li>Base Price: $<%= service.base_price.to_s %></li>
        <li>
          <p>
            <%= service.description %>
          </p>
        </li>
      </ul>
    </section>
    <% end %>
  </div>
  <div id="additional_detail_services" class="detail_tabcontent">
    <h1>Additional Detail Services</h1>
    <% @additional_detail_services.each do |service| %>
    <section id="service-<%= service.id %>">
      <h2><%= service.name %></h2>
      <ul>
        <li>Base Price: $<%= service.base_price.to_s %></li>
        <li>
          <p>
            <%= service.description %>
          </p>
        </li>
      </ul>
    </section>
    <% end %>
  </div>
</div>
