
<div class="">
  <h1>Our Services</h1>
  <h2>FREE PICK UP / DROP OFF for all services</h2>
</div>
<div class="our_services">
  <div class="">
    <button class="tablink" id="defaultOpen">Detail Services</button>
    <button class="tablink">Tint Services</button>
    <button class="tablink">Clear Bra / Mask Services</button>
    <button class="tablink">Lower Body Paint Repair Services</button>
  </div>
  <div class="services">
    <%= render "detail_services" %>
    <%= render "tint_services" %>
    <%= render "clear_bra_services" %>
    <%= render "lower_body_paint_repair_services" %>
  </div>
</div>
<footer>
  <div class="">
    <h1>COMMERCIAL ACCOUNT</h1>
    <p>
      All services above are available for Commercial Accounts. Please call to schedule an appointment to discuss pricing.
    </p>
  </div>
</footer>

<%= javascript_pack_tag 'our_services' %>
