
<div class="">
  <h1>Our Services</h1>
  <h2>FREE PICK UP / DROP OFF for all services</h2>
</div>
<div class="our_services" id="our_services">
  <ul class="nav nav-tabs nav-fill sticky">
    <li class="nav-item tablink">
      <a href="#detail_services" class="">Detail Services</a>
    </li>
    <li class="nav-item tablink">
      <a href="#tint_services" class="">Tint Services</a>
    </li>
    <li class="nav-item tablink">
      <a href="#clear_bra_services" class="">Clear Bra Services</a>
    </li>
    <li class="nav-item tablink">
      <a href="#lower_body_paint_repair_services" class="">Lower Body Paint Repair Services</a>
    </li>
  </ul>
  <div class="services">
    <%= render "detail_services" %>
    <%= render "tint_services" %>
    <%= render "clear_bra_services" %>
    <%= render "lower_body_paint_repair_services" %>
  </div>
</div>
<footer>
  <div class="">
    <h1>COMMERCIAL ACCOUNT</h1>
    <p>
      All services above are available for Commercial Accounts. Please call to schedule an appointment to discuss pricing.
    </p>
  </div>
</footer>

<%= javascript_pack_tag 'our_services' %>
