<%= form_with(model: vehicles, :url => profile_my_vehicles_url(@user)) do |form| %>
  <% if vehicles.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(vehicles.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicles.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "new_fields", form: form %>
  <br>
  <div class="actions">
    <%= form.submit "Add Vehicle", {class: "btn btn-success", id: "register"} %>
  </div>
<% end %>
<%= javascript_pack_tag 'new_vehicle_form' %>
