<div id="<%= dom_id vehicle %>" class="scaffold_record">
  <h2>
    <strong>
      My Vehicle
    </strong>
  </h2>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>
  
  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>


  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>
  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>
  <p>
    <strong>Vehicle Class:</strong>
    <%= vehicle.classification %>
  </p>
</div>
