<div class="container">
  <h2>My Vehicles</h2>
  <% if !@vehicles.nil? %>
    <% @vehicles.each do |vehicle|%>
      <div class="row" id="vehicle-<%= vehicle.id %>">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <ul>
            <li>Color: <%= vehicle.color %></li>
            <li>Year: <%= vehicle.year %></li>
            <li>Make: <%= vehicle.make %></li>
            <li>Model: <%= vehicle.model %></li>
            <li>Vehicle Class: <%= vehicle.classification %></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 btn-group" role="group" >
          <div class="" id="showButton">
            <%=
            button_to "Show",
            my_vehicle_path(vehicle),
            method: :get,
            class: "btn btn-primary"
            %>
          </div>
          <div class="" id="deleteButtom">
            <%= button_to my_vehicle_path(vehicle), method: :delete, class: "btn btn-danger" do %>
            <i class="bi bi-trash"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="">
  <div class="">
    <%=
      button_to "Add New Vehicle",
      profile_add_my_vehicle_path(@user),
      method: :get,
      class: "btn btn-success",
      disabled: @vehicles.size >= 10
    %>
  </div>
</div>
